* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    display: grid;
    grid-template-columns: 80%, 20%;
    grid-template-areas: 
    'main-header main-header'
    'main-content main-aside';
    font-size: 20px;
}

header {
    margin-bottom: 10px;
    padding: 20px;
    background-color: gray;
    grid-area: main-header;
    height: auto;
}

aside {
    background-color: white;
    grid-area: main-aside;
    /* display: flex;
    flex-direction: column; */
}

.sideImageAndInfo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 5px 10px;
    /* width: 100%; */
}

/* .sideText {
    /* width: 150px; 
    justify-content: space-around;
} */

.sideTextH1 {
    font-size: 20px;
}

.sideTextH2 {
    font-size: 12px;
}

.sideTextP {
    font-size: 10px;
}

span {
    font-size: 10px;
}

main {
    background-color:white;
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    /* width: 100%;  */

}

.mainContent {
    max-width: 100%;
    height: auto;
    } 

@media (max-width: 768px) {
    body {
        grid-template-columns: 100%;
        grid-template-areas: 
        'main-header'
        'main-content'
        'main-aside'
;
    }
}

