/* *{
    color: darkgoldenrod;
}

.main-title {
    color: darkcyan;
}

.main-subtitle {
    color:rgb(4, 1, 167);
}

.post {
    background-color: cornflowerblue; 
}

#fisrtPostTitle {
    font-size: 72px;
} */