* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ul é o pai dos li */
ul {
    height: 100px;
    background-color: black;
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 32px;
    justify-content: center; /*alinha na horizontal*/
    align-items:  center; /*alinha na vertical*/
    flex-direction: column;
}
ul a {
    color: white;
    text-decoration: none;
}

.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.video {
    width: 400px;
}

.video img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}